<%= render 'shared/nav_bar'%>
<div class="container">
  <h3>Find your dream yard:</h3>
  <%= render partial: 'shared/search_form',
      locals: {purposes: @purposes, url: search_yards_path} %>
</div>
