<h1>Update <%= @yard.name %></h1>

<%= render partial: 'shared/nav_bar' %>
<%= render partial: 'yardform' ,
    locals: {url: host_yard_path(@yard.id),
            yard: @yard,
            method: :patch,
            purposes: @purposes,
            button_text: 'Update Yard'}%>
