<section class='nav-bar'>
  <h3>Welcome <%= current_user %>></h3>
  <%= button_to 'Host Dashboard', host_dashboard_index_path, method: :get %>
  <%= button_to 'Renter Dashboard', renter_dashboard_index_path, method: :get %>
  <%= button_to 'Logout', logout_path, method: :delete %>
</section>
