<%= render 'shared/nav_bar'%>
<section class='upcoming-bookings'>
  <h2>Upcoming Booking's:</h2>
</section>

<section class='pending-bookings'>
  <h2>Pending Booking's:</h2>
</section>

<%= button_to 'Find your next yard', search_index_path, method: :get %>
