/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 $background_green: #BDD9BF;
 $landing_grey: rgb(100, 108, 100);


 .main-header {
   text-align: center;
}

 .dashboard {
  margin: 10px;
  padding: 10px;
  width: 25rem;
  background-color: #b0ad9e;
}

.nav-bar {
   padding: 10px;
}

#form-small {
  size: 10px;
}

.landing {
   background: $background_green;
 }

.btn-secondary {
   color: black;
   background-color: #b0ad9e;
 }
.photo_size {
  width: 20rem;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.landing {
  background: $background_green;
}

.btn {
  color: white;
  background: $landing_grey;
}

 .parent {
   display: table;
   position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
 .form_login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   top: 15%;
}

.content {
  max-width: 500px;
  margin: auto;
  background: $background_green;
  padding: 10px;
  margin-top: 100px;
}

.new_font
{
 font-family: #BDD9BF;
 font-size: 22px;
  margin-top: 100px;
  padding: 10px;
}
 .small{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
